.aboutUs{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    background-color: $bgcAboutUs;
    

    &__title{
        width: 100%;
        font-size: 2em;
        padding: 20px 0 20px 0;

    }        

    &__card__container{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    &__card{

        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        margin-bottom: 5px;
        
        &__title{
            padding: 15px;
            font-size: 1.5em;

           
        }

        &__text{
            padding: 0px 15px 0px 15px;
            text-align: start;
        }
    }
}