.aboutUs{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    background-color: $bgcAboutUs;
    

    &__title{
        width: 100%;
        font-size: 2em;
        padding: 30px 0 30px 0;
        background-color: $bgcAboutUsH2;
        color: $colorTitle;

        &__line{
            height: 1px;
            width: 150px;
            margin:0 auto;
            background-color: $bgcPropsButton;
        }

    }        

    &__card__container{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: $bgcAboutUs;
    }

    &__card{

        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;
        background-color: $bgcAboutUsCards;
        border-bottom: 5px solid $bgcHTML;
        
        &__title{
            padding: 15px;
            font-size: 1.5em;
            background-color: $bgcAboutUsH3;

           
        }

        &__text{
            margin: 0px 8px 0px 8px;
            text-align: start;
            background-color: $bgcAboutUsText;
        }
    }
}