.propDestacadas{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 100px;
    background-color: $bgcProps;

    &__title{
        width: 100%;
        font-size: 2em;
        padding: 0px 0 50px 0;
        background-color: $bgcPropsH2;
        color: $colorTitle;

        &__line{
            height: 1px;
            width: 150px;
            margin:0 auto;
            background-color: $bgcPropsButton;
        }
    }

    &__container{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: $bgcProps;
        
    }

    &__card{
        width: 300px;
        display: flex;
        flex-direction: column;
        background-color: $bgcPropsCards;
        padding:0px 10px 100px 10px;
                
        &__img{
            background-image: url(../../../img/noImg2.webp);
            width: 100%;
            height: 230px;
            padding: 0;
            border-radius: 10px;

        }
        
        
        &__info{
            text-align: start;
            padding: 15px;
            background-color: $bgcPropsInfo;
            
        }
        
        &__price{
            background-color: $bgcPropsInfo;

            &__sell{
                font-weight: bolder;
                background-color: $bgcPropsInfo;                
            }
        }
        
        &__imgTitle{
            background-color: $bgcPropsH3;
            font-size: 1.5em;
            padding: 10px 0px 10px 0px;
        }

        &__ambientes{
            display: flex;
            background-color: $bgcPropsInfo;
            padding-bottom: 5px;

            &__icon{
                margin: 2px 4px 0px 0px;
                width: 20px;
                height: 10px;
                font-size: 15px;
                font-weight: 900;
                color:$bgcPropsButton;
                text-align: center;
                line-height: 10px;
                background-color: $bgcPropsInfo;
            }
        }

        &__direction{
            display: flex;
            background-color: $bgcPropsInfo;
        }

        &__information{
            width: 100%;
            height: 30px;
            margin-top: 30px;
            font-size: 15px;
            font-weight: bold;
            color: $bgcPropsInfo;
            border: 0px;
            border-radius: 5px;
            background-color: $bgcPropsButton;
            cursor: pointer;
        }


    }
}