*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: $bgcHTML;
    font-family: 'Roboto', sans-serif;
    
}

body{
    width: calc(100vw - (100vw - 90%));
    margin: 0 auto;
    background-color: $bgcBody;
}