$bgcBody: rgba(245, 229, 196, 0.671);
$bgcAboutUs:white;
$bgcAboutUsH2: white;
$bgcAboutUsCards: white; 
$bgcAboutUsH3: white;
$bgcAboutUsText: white;
$bgcProps: white;
$bgcPropsH2: white;
$bgcPropsInfo: white;
 