$bgcHTML: rgba(236,236,236,255);
$bgcBody: white;
$bgcAboutUs:white;
$bgcAboutUsH2: white;
$bgcAboutUsCards: white; 
$bgcAboutUsH3: white;
$bgcAboutUsText: white;
$bgcProps: white;
$bgcPropsCards: white;
$bgcPropsH2: white;
$bgcPropsH3: white;
$bgcPropsInfo: white;
$bgcPropsButton : rgba(255,175,0,255);

$colorTitle :rgba(46, 45, 45, 0.842);